@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo</h1>
    <p>A consulta de dados da dengue. Consulte os dados dos ultimos 6 meses da doença.</p>
</div>
